<div ng-include="'partials/components/navbar.html'"></div>
<div class="inf-1">
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h1 class="heading">Speaking Club</h1>
		<p class="paragraph">
			The English Speaking en el CEALM S. R.L. es organizado por los estudiantes del último nivel juntamente con los docentes, se lleva a cabo en el instituto cada dos meses. Todos los estudiantes del instituto se reúnen para asistir a conferencias y charlas dadas por extranjeros y así intercambiar las diferentes culturas siempre hablando en inglés.
		</p>
		<p class="paragraph">
			El objetivo del Club es promover mejores relaciones entre estudiantes, docentes y personas de diferentes nacionalidades que disfrutan hablar en inglés. Este Club está abierto a todas aquellas personas que estén estudiando inglés y quisieran tener la oportunidad de practicar su inglés o para ingleses y americanos nativos que les gustaría hacer amigos con personas que hablen su misma lengua.
		</p>
		<p class="paragraph">
			Muchas de las actividades son en inglés, así que si quieres practicar tu Inglés con ingleses o americanos Nativos esta es una oportunidad ideal para ti, porque no sólo tendrás la posibilidad de practicar tu Ingles sino que además serás capaz de conocer a personas de todo el mundo que tienen intereses parecidos a los tuyos.  
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
		<br>
		<br>
		<br>
		<br>
		<img src="images/webpage/speaking_club.png"  class="landscape-image" alt="speaking_club" title="Speaking Club">
	</div>
</div>
</div>