<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
<h2>Bienvenido {{ user.firstname }} {{ user.lastname }}</h2>
<blockquote>
	<strong>
	Te encuentras en estos momentos en el area de administración, con tus privilegios puedes realizar las siguientes acciones:
	</strong>
	<ol>
		<li>Acceso a la Pagina de Administración General "Inicio" </li>
		<li>Membresia de Estudiantes "Estudiantes" </li>
		<li>Administrar usuarios "Gestión de Usuarios" </li>
		<li>Registrar usuarios "Registro" </li>
		<li>Acceso a tu perfil "Administrador | perfil" </li>
		<li>Cambiar tu contraseña "Cambio de Contraseña" </li>
	</ol>
</blockquote>
</div>