<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="heading2">AUTORIDADES</h1>
            <p>
                Actualmente el PERSONAL DIRECTIVO está conformado por:
            </p>
            <dl class="list">
                <dt>DIRECTORA GENERAL</dt>
                <dd>Lic. Milenka L. Mercado M.</dd>
                <dt>DIRECTORA ACADEMICA</dt>
                <dd>Lic. Rosaura Chambi V.</dd>
                <dt>DIRECTORA ADMINISTRATIVA</dt>
                <dd>Lic. Amparo Loayza.</dd>
            </dl>
        </div>
    </div>
</div>