<div ng-include="'partials/components/navbar.html'"></div>
<div class="heading-primary">AUTORIDADES</div>
<div class="row">
    <div class="col-md-12 container-card-teacher">
        <section class="card-teacher">
            <img src="../images/teachers/milenka.png" class="photo">
            <div class="name"><strong>RECTORA </strong><br>Lic. Milenka Lorna Mercado Morales</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/ROSAURA.jpg" class="photo">
            <div class="name"><strong>DIRECTORA ACADÉMICA</strong> <br>Lic. Rosaura Chambi Vasquez</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/amparo.jpg" class="photo">
            <div class="name"><strong>DIRECTORA ADMINISTRATIVA</strong> <br>Lic. Amparo Grace Ninoska Loaysa Sarmiento</div>
        </section>
    </div>
</div>
