<div ng-include="'partials/components/navbar.html'"></div>
<div class="content docentes">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="heading2">BENEFICIOS DE LOS IDIOMAS</h1>
            <h2 class="fill-heading" ng-init="ingles = false" ng-click="ingles = !ingles">¿Por qué el Inglés?</h2>
            <ul class="ulist" ng-if="ingles">
                <li>
                    Es el segundo idioma más hablado en el mundo.
                </li>
                <li>
                    Es el idioma de los negocios nacionales e internacionales.
                </li>
                <li>
                    El 75% de la información escrita viene en esta lengua.
                </li>
                <li>
                    El software y el hardware de las computadoras vienen inglés.
                </li>
                <li>
                    En una mayoría de las universidades del mundo, el inglés forma parte de su pensum académico. y es requisito para obtener becas de estudio.
                </li>
                <li>
                    Es requisito para optar títulos profesionales.
                </li>
                <li>
                    En Internet el 85% de la información está en esta lengua.
                </li>
                <li>
                    Las personas que dominan este idioma, tienen mayor oportunidad de adquirir la visa hacia lugares en donde el inglés es el idioma nativo.
                </li>
                <li>
                    Aumenta las posibilidades de trabajo y estudio en el exterior.
                </li>
                <li>
                    En muchas empresas laboran con aparatos que por lo general las instrucciones vienen en inglés.
                </li>
                <li>
                    En Bolivia dada la escasez de docentes en esta área, todas aquellas personas que poseen habilidades hacia la enseñanza de esta área, aumentan su oportunidad de empleo, así como la de traductores.
                </li>
            </ul>
            <br>
            <h2 class="fill-heading" ng-init="frances = false" ng-click="frances = !frances">¿Por qué  el Francés?</h2>
            <ul class="ulist" ng-if="frances">
                <li>Una lengua hablada en el mundo entero por más de 200 millones de personas.</li>
                <li>Una lengua para encontrar un empleo en las empresas francesas, al igual que en el extranjero.</li>
                <li>La lengua de la cultura.</li>
                <li>Una lengua para viajar.</li>
                <li>Una lengua para estudiar con becas en las universidades francesas.</li>
                <li>La otra lengua de las relaciones internacionales.</li>
                <li>Una lengua para abrirse al mundo después del inglés y del alemán.</li>
                <li>Una lengua de aprendizaje agradable.</li>
                <li>Una lengua para aprender otras lenguas.</li>
                <li>Aprender francés ayuda a la lengua del amor y del espíritu.</li>
            </ul>
            <br>
            <h2 class="fill-heading" ng-init="quechua = false" ng-click="quechua = !quechua">¿Por qué el quechua?</h2>
            <ul class="ulist" ng-if="quechua">
                <li>No habiendo muchos tenido la suerte de haberla conocido es momento de que a través de ella podernos conocernos más y comunicarnos con esa otra mitad de nosotros mismos.</li>
                <li>El idioma es una parte de nuestro país.</li>
                <li>Solo aprendiendo nuestra lengua nativa podremos comunicarnos sin interferencias con la población quechua hablante.</li>
                <li>Nos permitiría una comprensión directa de la cosmovisión de nuestro país.</li>
                <li>El Quechua es alegría y música, transmitida en sus costumbres, fiestas, comidas, danzas, canciones, poesía, y literatura.</li>
                <li>Porque todos los bolivianos debemos retomar la filosofía que encierra la lengua quechua.</li>
                <li>Porque es parte de los más de 10 millones de quechua hablantes.</li>
                <li>Porque la globalización es un manto oscuro que pretende apagar la humanidad que encierra el quechua.</li>
            </ul>
            <br>
            <h2 class="fill-heading" ng-init="aleman = false" ng-click="aleman = !aleman">¿Por qué el Alemán?</h2>
            <ul class="ulist" ng-if="aleman">
                <li>En el mundo globalizado de hoy, tener conocimientos de alemán abre posibilidades infinitas. Estudiar alemán significa adquirir nuevas habilidades que ofrecen mejores perspectivas tanto en el ámbito laboral y profesional como en la vida privada.</li>
                <li>En el ámbito de los negocios: comunicarse con sus socios alemanes en su lengua materna de éstos lo distingue de sus competidores y le permite establecer canales de comunicación más fluidos y efectivos.</li>
                <li>Un Mercado laboral globalizado: poseer conocimientos de alemán mejoran sus oportunidades de trabajo en las empresas alemanas tanto en su país como en otras partes del mundo. Un buen dominio del alemán aumenta sus chances profesionales cuando su empleador desarrolla actividades a nivel mundial.</li>
                <li>Turismo y hotelería: los alemanes figuran entre los pueblos que más viajan. En sus vacaciones gastan más dinero que los turistas de otros países. Aprecian que el personal de los hoteles y restaurantes y los guías turísticos les hable en alemán.</li>
                <li>Ciencia e investigación: el alemán es el segundo idioma más importante para las ciencias y Alemania es el tercer país más importante por su contribución a la investigación y el desarrollo. Asimismo, otorga becas de investigación a científicos extranjeros</li>
                <li>Comunicación: el desarrollo en el ámbito de los medios, la información y las comunicaciones exige una comunicación multilingüe. Una gran cantidad de páginas web importantes están en alemán y uno de cada diez libros se edita en alemán. Sus conocimientos de alemán le permitirán acceder en forma directa a ese universo de información</li>
                <li>Comunicación intercultural: aprender alemán significa también comunicarse con otra cultura, conocer los deseos y sueños de una sociedad multicultural como la que caracteriza a los países de habla alemana.</li>
                <li>Viajar: si domina el alemán, disfrutará más de su viaje por los países de habla alemana y podrá aprovechar también mejor su estadía en otros países europeos, especialmente en Europa del este</li>
                <li>Disfrutar de la literatura, la música, el arte y la filosofía: El alemán es el idioma de Goethe, Kafka, Mozart, Bach y Beethoven. Leer y/o escuchar sus obras en su idioma original aumenta el placer que genera el arte</li>
                <li>Estudios y trabajo: Alemania otorga una gran cantidad de becas de estudio. Hay visas específicas de trabajo y vacaciones para jóvenes extranjeros. Para determinadas profesiones rigen disposiciones especiales para solicitar permisos de trabajo</li>
                <li>Programas de intercambio: Hay convenios de intercambio para alumnos y estudiantes entre Alemania y numerosos países del mundo.</li>
            </ul>
            <br>
            <h2 class="fill-heading" ng-init="portugues = false" ng-click="portugues = !portugues">¿Por qué el Portugués?</h2>
            <ul class="ulist" ng-if="portugues">
                <li>Es un idioma fácil para los hispanos.</li>
                <li>Brasil se está convirtiendo en una locomotora económica.</li>
                <li>Es una lengua hermosa.</li>
                <li>Es el quinto idioma más hablado</li>
                <li>Para obtener becas de post grado.</li>
                <li>Para trabajar con facilidad.</li>
            </ul>
        </div>
    </div>
</div>