<div ng-include="'partials/components/navbar.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class="btn btn-primary" ng-click="renderScores()">Generar Notas</button>
		</div>
	</div>
<!-- 	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="table-responsive">
			<table class="table table-striped table-hover" export-csv="csv" separator=";">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Bimestre: {{ structure.bimester.name | uppercase }} </th>
						<th>Paralelo: {{ structure.group.name | uppercase }}</th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th ng-repeat="exam_type in structure.exam_types">{{ exam_type.description | uppercase }}</th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th colspan="3" ng-repeat="category_mark in structure.category_marks">{{ category_mark.description | uppercase }}</th>
					</tr>
					<tr>
						<th>N. </th>
						<th>NOMBRE COMPLETO</th>
						<th>CELULAR</th>							
						<th ng-repeat="information_mark in structure.information_marks">{{ information_mark.title | uppercase }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in structure.list">
						<td>{{ $index + 1 }}</td>
						<td>{{ item.lastname | uppercase }} {{ item.firstname | uppercase }}</td>
						<td>{{ item.cellphone }}</td>
<td>{{ item.score}}</td>
						<td ng-repeat="mark in item.marks">
							{{ mark.score }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div> -->

<button ng-click="export()">exportar</button>
<!-- 	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
		<a class="btn btn-primary" ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="export.csv">
			<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
			 &#160; Exportar Excel
		</a>
	</div>
</div> -->
</div>
<script>
/*			csvString = "hola; como estas\nsuper duper,"
		var a = document.createElement('a');

		a.href = 'data:attachment/csv,' + csvString;
		a.target = '_blank';
		a.download = 'sampleDownload.csv';

		document.body.appendChild(a);
		a.click();
*/
</script>