<div ng-include="'partials/components/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="heading2">CARRERAS</h1>
            <p>
                Carrera de ingles a nivel:
            </p>
            <dl class="list">
                <dt>TÉCNICO SUPERIOR</dt>
                <dd>CON TÍTULO EN PROVISIÓN NACIONAL</dd>
                <dt>TÉCNICO MEDIO</dt>
                <dd>CON TÍTULO EN PROVISIÓN NACIONAL</dd>
            </dl>
            <br>
            <p>
                Cursos de capacitacion en los idiomas:
            </p>
            <dl class="list">
                <dt>INGLÉS</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
                <dt>FRANCÉS</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
                <dt>ALEMÁN</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
                <dt>PORTUGUÉS</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
                <dt>PORTUGUÉS</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
                <dt>QUECHUA</dt>
                <dd>NIVEL BASICO, INTERMEDIO, AVANZADO</dd>
            </dl>
            <br>
            <p>
                El idioma nativo quechua se encuentra autorizado por el Instituto Plurinacional de Estudio de Lenguas y Culturas IPELC.
            </p>

        </div>
    </div>
</div>