<div ng-include="'partials/components/navbar.html'"></div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="inf-1">			
			<h1 class="heading">Nacimiento de la Institucion</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<p class="paragraph">
						El Instituto Técnico “CENTRO DE ENSEÑANZA APRENDIZAJE DE LENGUAS MODERNAS” S.R.L. Ubicado en la calle Pagador entre Cochabamba y Caro Nº 5635, telf. 52-87676 nace de la iniciativa de un grupo de profesionales jóvenes licenciados en Idiomas altamente capacitados y reconocidos en la Ciudad de Oruro, todos ellos con un gran ímpetu de contribuir decididamente a la enseñanza-aprendizaje y al uso de las lenguas modernas extranjeras de mayor demanda comunicativa a nivel mundial como ser: Inglés, Francés, Alemán Portugués y Quechua, (lengua nativa).
					</p>
					<p class="paragraph">
						La idea nació un 19 de marzo de 2007 con una visión de complementar y aportar a la formación de profesionales mucho más competitivos no solo a nivel nacional sino mundial.
					</p>
					<p class="paragraph">
						Fecha en la que se comenzó con los trámites correspondientes para obtener la Resolución Ministerial otorgado por el Ministerio de Educación. Comenzando su pleno funcionamiento el 03 de diciembre de 2009 con la R. M. 834/2009
					</p>					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/quienes_somos.jpg" alt="quienes_somos" class="landscape-image">					
				</div>
			</div>
		</div>
		<div class="inf-2">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/languages.png" alt="Idiomas" title="Idiomas" class="landscape-image">						
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="heading">Mision</h1>
					<p class="paragraph">
						Ser una entidad educativa de proyección nacional, con la prestación de la enseñanza-aprendizaje de lenguas extranjeras (inglés, francés, alemán y portugués) y la lengua originaria quechua,  manteniendo liderazgo y compromiso. Contamos con  los más altos estándares de calidad en la excelencia académica y servicio para todos nuestros usuarios, contamos con un profesorado idóneo, calificado especializado en cada área y con profunda vocación académica e investigativa  para que así, los estudiantes y profesionales puedan afrontar los desafíos   necesarios para integrarse al mercado laboral global y competitivo de hoy.
					</p>									
				</div>								
			</div>			
		</div>
		<div class="inf-1">			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="heading">Vision</h1>
					<p class="paragraph">
						Ser reconocidos, a nivel departamental y nacional como la mejor institución líder en la enseñanza-aprendizaje de lenguas extranjeras y el quechua, con la mayor diversidad de alternativas y los programas académicos más completos que garanticen el éxito en el proceso de enseñanza-aprendizaje.
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/reconocimiento.jpg" alt="Reconocimiento" title="Reconocimiento" class="portrait-image">					
				</div>
			</div>
		</div>
	</div>
</div>