<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="googleMap" class="google-map"></div>
		</div>
		<div class="address">
			<p>Dirección: <b>C. Pagador entre Cochabamba y Caro, Oruro, Bolivia</b></p>
			<p>Teléfono: <b>52-87676</b></p>
		</div>

		<!--
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<form action="" method="POST" role="form">
				<legend>Comunícate con Nosotros</legend>
			
				<div class="form-group">
					<label for="">Asunto</label>
					<input type="text" class="form-control" id="" placeholder="Ej. Informacion sobre inscripciones">
				</div>
				<div class="form-group">
					<label for="">Correo Electrónico</label>
					<input type="text" class="form-control" id="" placeholder="Ej. ejemplo@example.com">
				</div>
				<div class="form-group">
					<label for="">Mensaje</label>
					<textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
				</div>
				<div class="form-group text-right">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>			
		-->
	</div>
</div>