<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<form ng-if="!editing" ng-submit="save(group)" role="form">
				<legend>Habilitar Paralelo - Bimestre: {{ bimester.name }}</legend>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label >Docente</label>
								<select class="form-control" ng-model="group.teacher_id">
									<option value="{{teacher.id}}" ng-repeat="teacher in teachers">
										{{ teacher.type | academic_degree }} {{ teacher.lastname | uppercase }} {{ teacher.firstname | uppercase }}
									</option>
								</select>
							</div>						
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label >Pensum</label>
								<select ng-change="loadAsignaturas(pensum_id)" ng-model="pensum_id" class="form-control">
									<option value="{{p.id}}" ng-repeat="p in pensums">{{ p.name }}</option>
								</select>
							</div>						
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group" ng-if="subjects !== null">
								<label >Asignatura</label>
								<select ng-model="group.subject" class="form-control" ng-if="subjects !== null">
									<option value="{{s}}" ng-repeat="s in subjects"  >{{ s.subject_code }}</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group">
								<label >Paralelo</label>
								<select ng-model="group.parallel" class="form-control" required="required">
									<option value="A">A</option>
									<option value="B">B</option>
									<option value="C">C</option>
									<option value="D">D</option>
									<option value="E">E</option>
									<option value="F">F</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group">
								<label >Aula</label>
								<select ng-model="group.room_id" class="form-control" required="required">
									<option value={{room.id}} ng-repeat="room in rooms">{{ room.name }}</option>
								</select>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				            <div class="form-group">
				            	<label >Inicio del clase</label>
				                <div class='input-group date' >
									<select ng-model="group.from" class="form-control" required="required">
										<option value={{hour.hour}} ng-repeat="hour in hours">{{ hour.hour }}</option>
									</select>							
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				            <div class="form-group">
								<label >Fin de Clase</label>
				                <div class='input-group date' >
									<select ng-model="group.to" class="form-control" required="required">
										<option value={{hour.hour}} ng-repeat="hour in hours">{{ hour.hour }}</option>
									</select>							
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
						</div>
					</div>

					<div class="form-group text-right" ng-show="pensum_selected">
						<button type="submit" class="btn btn-primary">Habilitar<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>		
					</div>
			</form>
			<form ng-if="editing" ng-submit="update(group)" role="form">
				<legend>Actualizacion de Paralelo - Bimestre: {{ bimester.name }}</legend>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label >Docente</label>
								<select class="form-control" ng-model="group.teacher_id">
									<option value="{{teacher.id}}" ng-repeat="teacher in teachers"
											ng-selected="group.teacher_id === teacher.id">
										{{ teacher.type | academic_degree }}
										{{ teacher.lastname | uppercase }}
										{{ teacher.firstname | uppercase }}
									</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label >Pensum</label>
								<select ng-change="loadAsignaturas(pensum_id)" ng-model="pensum_id" class="form-control">
									<option value="{{p.id}}"
											ng-repeat="p in pensums">{{ p.name }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group" ng-if="subjects !== null">
								<label >Asignatura</label>
								<select ng-model="group.subject" class="form-control">
									<option value="{{s}}"
											ng-repeat="s in subjects">
										{{ s.subject_code }}
									</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group">
								<label >Paralelo</label>
								<select ng-model="group.parallel"
										class="form-control"
										required="required">
									<option value="A" ng-selected="group.parallel === 'A'">A</option>
									<option value="B" ng-selected="group.parallel === 'B'">B</option>
									<option value="C" ng-selected="group.parallel === 'C'">C</option>
									<option value="D" ng-selected="group.parallel === 'D'">D</option>
									<option value="E" ng-selected="group.parallel === 'E'">E</option>
									<option value="F" ng-selected="group.parallel === 'F'">F</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group">
								<label >Aula</label>
								<select ng-model="group.room_id" class="form-control" required="required">
									<option value={{room.id}}
											ng-selected="group.room_id === room.id"
											ng-repeat="room in rooms">{{ room.name }}</option>
								</select>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				            <div class="form-group">
				            	<label >Inicio del clase</label>
				                <div class='input-group date' >
									<select ng-model="group.from" class="form-control" required="required">
										<option value={{hour.hour}}
												ng-selected="group.from == hour.hour"
												ng-repeat="hour in hours">{{ hour.hour }}</option>
									</select>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				            <div class="form-group">
								<label >Fin de Clase</label>
				                <div class='input-group date' >
									<select ng-model="group.to" class="form-control" required="required">
										<option value={{hour.hour}}
												ng-selected="group.to == hour.hour"
												ng-repeat="hour in hours">{{ hour.hour }}</option>
									</select>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
						</div>
					</div>
					<div class="form-group text-right" ng-show="pensum_selected">
						<button type="submit" class="btn btn-success">Actualizar<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
					</div>
			</form>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<input type="search" class="form-control" ng-model="search" title="Buscar Docente" placeholder="Buscar Docente">
			<br>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Docente</th>							
							<th>Paralelo</th>
							<th>Horario</th>
							<th>Aula</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in parallels | filter: search">
							<td>{{ p.type | academic_degree }} {{ p.lastname | uppercase }} {{ p.firstname | uppercase }}</td>
							<td>{{ p.group_name }}</td>
							<td>{{ p.from }} - {{ p.to }}</td>
							<td>{{ p.room_name }}</td>
							<td>
								<button class="btn btn-info btn-sm" ng-click="editGroup(p.group_id, $index)" tile="Editar paralelo">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
								<button class="btn btn-danger btn-sm" ng-click="deleteGroup(p.group_id, $index)" tile="Eliminar paralelo">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>