<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>University of Cambridge Exams</th>
                    <th>IELTS</th>
                    <th>TOEFL</th>
                    <th>Titulaciones Europeas</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CPE Certificate of Proficiency in English</td>
                            <td>IELTS  6.0 - 6.5</td>
                            <td>TOEFL(PBT) 550-600+ <br>
                                TOEFL(CBT) 230-250+ <br>
                                TOEFL (IBT) 88-100+ <br>
                            </td>
                            <td>C2</td>
                        </tr>
                        <tr>
                            <td>CAE Certificate in Advanced English</td>
                            <td>IELTS  6.0 -5.5</td>
                            <td>TOEFL (PBT) 525-550 <br>
                                TOEFL (CBT) 195-230 <br>
                                TOEFL (IBT) 70-88 <br>
                            </td>
                            <td>C1</td>
                        </tr>
                        <tr>
                            <td>FCE First Certificate in English</td>
                            <td>IELTS  5.5 -5.0</td>
                            <td>TOEFL (PBT) 450-525 <br>
                                TOEFL (CBT) 145-195 <br>
                                TOEFL (IBT) 50-70 <br>
                            </td>
                            <td>B2</td>
                        </tr>
                        <tr>
                            <td>PET Preliminary English Test</td>
                            <td>IELTS  5.0 -4.0</td>
                            <td>TOEFL (PBT) 310-450 <br>
                                TOEFL (CBT) 50-145 <br>
                                TOEFL (IBT) 10-50 <br>
                            </td>
                            <td>B1</td>
                        </tr>
                        <tr>
                            <td>KET Key English Test</td>
                            <td></td>
                            <td></td>
                            <td>A2</td>
                        </tr>
                        <tr>
                            <td>Beginner</td>
                            <td></td>
                            <td></td>
                            <td>A1</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Common European Framework </th>
                        <th>Guided Learning Hours |
                            Horas de aprendizaje Guiadas
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A2</td>
                            <td>approximately 180–200 aproximadamente 180-200 </td>
                        </tr>
                        <tr>
                            <td>B1</td>
                            <td>approximately 350–400 aproximadamente 350-400 </td>
                        </tr>
                        <tr>
                            <td>B2</td>
                            <td>approximately 500–600 aproximadamente 500-600 </td>
                        </tr>
                        <tr>
                            <td>C1</td>
                            <td>approximately 700–800 aproximadamente 700-800 </td>
                        </tr>
                        <tr>
                            <td>C2</td>
                            <td>approximately 1,000–1,200 aproximadamente 1.000-1.200 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>