<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <legend>EQUIVALENCIA DE EXAMENES OFICIALES</legend>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>NIVEL</th>
                        <th>INGLÉS</th>
                        <th>FRANCÉS</th>
                        <th>ALEMÁN</th>
                        <th>PORTUGUÉS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="bold">A1: Principiante</span>
                        </td>
                        <td>

                        </td>
                        <td>
                            Diplôme d'Études en Langue Française (DELF)
                        </td>
                        <td>
                            Start Deutsch 1
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">A2: Elemental</span>
                        </td>
                        <td>
                            Key English Test(KET)
                        </td>
                        <td>
                            Diplôme d'Études en Langue Française (DELF)
                        </td>
                        <td>
                            Start Deutsch 2
                        </td>
                        <td>
                            Certificado Inicial de Português Língua Estrangeira (CIPLE)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">B1: Pre-Intermedio</span>
                        </td>
                        <td>
                            Preliminary English Test (PET)
                        </td>
                        <td>
                            Diplôme d'Études en Langue Française (DELF B1)
                        </td>
                        <td>
                            Zertifikat Deutsch (ZD)
                        </td>
                        <td>
                            Diploma Elementar de Português Língua Estrangeira (DEPLE)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">B2: Intermedio Alto</span>
                        </td>
                        <td>
                            First Certificate in English(FCE)
                        </td>
                        <td>
                            Diplôme d'Études en Langue Française (DELF B2)
                        </td>
                        <td>
                            Zertifikat Deutsch fur den Beruf (ZDfB) Goethe Zertifikat
                        </td>
                        <td>
                            Diploma Intermédio de Português Língua Estrangeira (DIPLE)
                        </td>
                    </tr>
                    <tr>
                        <td><span class="bold"> C1: Avanzado</span></td>
                        <td>
                            Certificate in Advanced English (CAE)
                        </td>
                        <td>
                            Diplôme Approfondi de Langue Française (DALF)
                        </td>
                        <td>
                            TestDaf Pufung Wirtschanftsdeutsch International (PWD)
                        </td>
                        <td>
                            Diploma Avançado de Português Língua Estrangeira (DAPLE)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">C2: Muy Avanzado</span>
                        </td>
                        <td>
                            Certificate of Proficiency in English (CPE)
                        </td>
                        <td>
                            Diplôme Approfondi de Langue Française (DALF)
                        </td>
                        <td>
                            Zentrale Oberstufenprufung (ZOP) <br>
                            Kleines Deutsches Sprachdiplom (KDS)
                        </td>
                        <td>
                            Diploma Universitário de Português Língua Estrangeira (DUPLE)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>