<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="heading2">HORARIOS</h1>
            <h2 class="fill-heading">Carrera Inglés:  Técnico Superior y Técnico Medio</h2>
            <dl class="list">
                <dt>Mañana</dt>
                <dd>8.00</dd>
                <dt>Tarde</dt>
                <dd>14.00</dd>
                <dt>Noche</dt>
                <dd>17.00</dd>
            </dl>
            <br>
            <p>Lunes, martes, miercoles, jueves y viernes</p>
            <br>
            <h2 class="fill-heading">Capacitación inglés: Elemental intermedio avanzado</h2>
            <dl class="list">
                <dt>Mañana</dt>
                <dd>7.00 – 8.30       8.30 – 10.00        10.30 – 12.00</dd>
                <dt>Tarde</dt>
                <dd>15.30 – 17.00       17.00 – 18.30</dd>
                <dt>Noche</dt>
                <dd>18.30 – 20.00   20.00 – 21.30</dd>
            </dl>
            <br>
            <p>Lunes, martes, miercoles, jueves y viernes</p>
            <br>
            <h2 class="fill-heading">Capacitación Francés: elemental intermedio avanzado.</h2>
            <dl class="list">
                <dt>Mañana</dt>
                <dd>07.00 - 08.20.</dd>
            </dl>
            <br>
            <p>Lunes, miercoles y viernes</p>
            <br>
            <h2 class="fill-heading">Capacitación quechua: Elemental intermedio avanzado.</h2>
            <dl class="list">
                <dt>Mañana</dt>
                <dd>7.00 – 8.00       09.00 – 10.00        10.00 – 11.00</dd>
                <dt>Tarde</dt>
                <dd>15.30 – 16.30</dd>
            </dl>
            <br>
            <p>Lunes, martes, miercoles, jueves y viernes</p>
            <br>
            <h2 class="fill-heading">Capacitación Alemán: Elemental intermedio avanzado.</h2>
            <dl class="list">
                <dt>Mañana</dt>
                <dd>8.00 – 10.15</dd>
                <dt>Tarde</dt>
                <dd>17.00 – 18.00</dd>
            </dl>
            <br>
            <p>Lunes y miércoles</p>
            <br>
            <h2 class="fill-heading">Capacitación portugués: Elemental intermedio avanzado.</h2>
            <dl class="list">
                <dt>Tarde</dt>
                <dd>17.00 – 18.30</dd>
            </dl>
            <br>
            <p>Lunes, martes y miércoles</p>
        </div>
    </div>
</div>