<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<h1 class="heading">Competencias Linguisticas</h1>
			<p class="paragraph">
				Para cada uno de los niveles del <span class="bold">MCERL</span> define las destrezas que lo estudiantes deben adquirir en cada una de las competencias linguísticas siguientes:
			</p>
			<div class="row">
				<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=63" target="_blank"><span class="badge pull-right">1</span>Escala Global</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=64" target="_blank"><span class="badge pull-right">2</span>Expresión Oral</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=65" target="_blank"><span class="badge pull-right">3</span>Expresión Escrita</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=66" target="_blank"><span class="badge pull-right">4</span>Comprensión Auditiva</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=67" target="_blank"><span class="badge pull-right">5</span>Comprensión de Lectura</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=68" target="_blank"><span class="badge pull-right">6</span>Interacción Oral</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=69" target="_blank"><span class="badge pull-right">7</span>Interacción Escrita</a></li>
						<li><a href="http://www.uca.es/cslm/portal.do?TR=C&IDR=70" target="_blank"><span class="badge pull-right">8</span>Competencia Linguística General</a></li>
					</ul>
				</div>
			</div>
			<p class="paragraph">
				El instituo también ofrece la preparación de los exámenes IELTS y TOEFL.
			</p>
			<p class="paragraph">
				El <span class="bold">IELTS</span> (International English Language Testing System) es una prueba de Inglés para acceder a las siguientes universidades británicas y australianas. El <span class="bold">TOEFL</span> (Test Of English as a Foreign Language) es un exámen de fluidez y conocimiento de inglés americano.
			</p>
		</div>
	</div>
</div>