<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">	
			<h1 class="heading">
				¿Por qué tomamos el Marco Comun Europeo de Referencia para las Lenguas, M.C.E.R.L.  "Common European Framework of Reference for Languages CEFR" como referencia para nuestros cursos?
			</h1>
			<p class="paragraph">
				En el centro utilizamos los niveles del M.C.E.R. con una doble finalidad:
				<p class="paragraph">
					<span class="bold">Facilitar transferencia: </span> Para estrablecer la igualdad entre nuestros cursos y los de otra academia o entre nuestros cursos y los exámenes oficiales internacionales. 
				</p>
				<p class="paragraph">
					<span class="bold">Portabilidad: </span> Para que nuestros estudiantes sepan exactamente quéestán contratando. <span class="bold">Decir </span> "Te garantizamos que hablarás inglés" es lo mismo que <span class="bold">no decir nada</span> si no explicamos a qué nivel se les preparará. Esta sí es la única forma de no engañar a nadie.
				</p>
			</p>
			<h1 class="heading">
				¿Qué es el M.C.E.R.L. y cuáles son los niveles de enseñanza - aprendizaje?
			</h1>
			<p class="paragraph">
				El M.C.E.R.L. aprendizaje, enseñanza y evaluación es un estándar desarrollado por el Consejo de Europa para servir como patrón internacional de control del nivel de comprensión y expresiòn orales y escritas en una lengua así como también una base común para la preparación de programas curriculares de enseñanza de lenguas extranjeras y exámenes.
			</p>
			<p class="paragraph">
				El M.C.E.R.L. es el resultado de más de diez años de investigación llevada a cabo por especialistas del ámbito de la linguística aplicada y de la pedagogía, procedente de todos los miembreos del Consejo de Europa. Es decir, sirve para que todos sepamos a lo que nos refereimos cuando hablamos de los niveles de dominio de una lengua. Favorece además la cooperación internacional en el campo de las lenguas modernas y el conocimiento mutuo de las titulaciones obtenidas en distintos contextos de aprendizaje.
			</p>
			<p class="paragraph">
				Para tal efecto el C.E.A.L.M. S.R.L. oferta cursos de Ingés, Francés, Alemán y Portugués, destinados a la <span class="bold">PREPARACIÓN DE EXÁMENES INTERNACIONALES</span> en los siguiente niveles:  
			</p>
			<legend>EQUIVALENCIA DE EXÁMENES INTERNACIONALES</legend>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>NIVEL</th>
							<th>INGLÉS</th>
							<th>FRANCÉS</th>
							<th>ALEMÁN</th>
							<th>PORTUGUÉS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="bold">A1: Principiante</span>
							</td>
							<td>
								
							</td>
							<td>
								Diplôme d'Études en Langue Française (DELF)
							</td>
							<td>
								Start Deutsch 1
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								<span class="bold">A2: Elemental</span>
							</td>
							<td>
								Key English Test(KET)
							</td>
							<td>
								Diplôme d'Études en Langue Française (DELF)						
							</td>
							<td>
								Start Deutsch 2
							</td>
							<td>
								Certificado Inicial de Português Língua Estrangeira (CIPLE)
							</td>
						</tr>
						<tr>
							<td>
								<span class="bold">B1: Pre-Intermedio</span>
							</td>
							<td>
								Preliminary English Test (PET)
							</td>
							<td>
								Diplôme d'Études en Langue Française (DELF B1)								
							</td>
							<td>
								Zertifikat Deutsch (ZD)
							</td>
							<td>
								Diploma Elementar de Português Língua Estrangeira (DEPLE)
							</td>
						</tr>
						<tr>
							<td>
								<span class="bold">B2: Intermedio Alto</span>
							</td>
							<td>
								First Certificate in English(FCE)
							</td>
							<td>
								Diplôme d'Études en Langue Française (DELF B2)														
							</td>
							<td>
								Zertifikat Deutsch fur den Beruf (ZDfB) Goethe Zertifikat						
							</td>
							<td>
								Diploma Intermédio de Português Língua Estrangeira (DIPLE)
							</td>
						</tr>
						<tr>
							<td><span class="bold"> C1: Avanzado</span></td>
							<td>
								Certificate in Advanced English (CAE)
							</td>
							<td>						
								Diplôme Approfondi de Langue Française (DALF)														
							</td>
							<td>
								TestDaf Pufung Wirtschanftsdeutsch International (PWD)
							</td>
							<td>
								Diploma Avançado de Português Língua Estrangeira (DAPLE)
							</td>
						</tr>
						<tr>
							<td>
								<span class="bold">C2: Muy Avanzado</span>
							</td>
							<td>
								Certificate of Proficiency in English (CPE)
							</td>
							<td>
								Diplôme Approfondi de Langue Française (DALF)																				
							</td>
							<td>
								Zentrale Oberstufenprufung (ZOP) <br>
								Kleines Deutsches Sprachdiplom (KDS)
							</td>
							<td>
								Diploma Universitário de Português Língua Estrangeira (DUPLE)
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="paragraph">
				Para cada uno de los niveles del <span class="bold">MCERL</span> define las destrezas que lo estudiantes deben adquirir en cada una de las competencias linguísticas siguientes:
			</p>
			<div class="row">
				<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#"><span class="badge pull-right">1</span>Comprensión Auditiva</a></li>
						<li><a href=""><span class="badge pull-right">2</span>Comprensión de Lectura</a></li>
						<li><a href=""><span class="badge pull-right">3</span>Interacción Oral</a></li>
						<li><a href=""><span class="badge pull-right">4</span>Expresión Oral</a></li>
						<li><a href=""><span class="badge pull-right">5</span>Expresión Escrita</a></li>
					</ul>
				</div>
			</div>
			<p class="paragraph">
				El instituo también ofrece la preparación de los exámenes IELTS y TOEFL.
			</p>
			<p class="paragraph">
				El <span class="bold">IELTS</span> (International English Language Testing System) es una prueba de Inglés para acceder a las siguientes universidades británicas y australianas. El <span class="bold">TOEFL</span> (Test Of English as a Foreign Language) es un exámen de fluidez y conocimiento de inglés americano.
			</p>
		</div>
	</div>	
</div>