<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="inf-1">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/languages.png" alt="Idiomas" title="Idiomas" class="landscape-image">						
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="heading">Mision</h1>
					<p class="paragraph">
						Ser una entidad educativa de proyección nacional, con la prestación de la enseñanza-aprendizaje de lenguas extranjeras (inglés, francés, alemán y portugués) y la lengua originaria quechua,  manteniendo liderazgo y compromiso. Contamos con  los más altos estándares de calidad en la excelencia académica y servicio para todos nuestros usuarios, contamos con un profesorado idóneo, calificado especializado en cada área y con profunda vocación académica e investigativa  para que así, los estudiantes y profesionales puedan afrontar los desafíos   necesarios para integrarse al mercado laboral global y competitivo de hoy.
					</p>									
				</div>								
			</div>			
		</div>
	</div>
</div>