<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="inf-1">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/languages.png" alt="Idiomas" title="Idiomas" class="landscape-image">						
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="heading">MISIÓN</h1>
					<p class="paragraph">
						Ser una institución educativa reconocida a nivel nacional, siendo pionera en las técnicas de enseñanza-aprendizaje de lenguas extranjeras inglés, francés, alemán, portugués y la lengua originaria quechua, manteniendo altos estándares de calidad en la excelencia académica al servicio de nuestros usuarios.
					</p>
				</div>								
			</div>			
		</div>
	</div>
</div>