<div ng-include="'partials/components/navbar.html'"></div>
<div class="heading-primary">PLANTA DOCENTE</div>
<div class="row">
    <div class="col-md-12 container-card-teacher">
        <section class="card-teacher">
            <img src="../images/teachers/ROSAURA.jpg" class="photo">
            <div class="name">Lic. Rosaura Chambi Vasquez</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/NIKSA.jpg" class="photo">
            <div class="name">Lic. Niksa Rossana Rodriguez Kravarovic</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/amparo.jpg" class="photo">
            <div class="name">Lic. Amparo Grace Ninoska Loaysa Sarmiento</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/GALIA.jpg" class="photo">
            <div class="name">Tec. Sup. Galia Liz Flores Santos</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/NOELIA.jpg" class="photo">
            <div class="name">Tec. Sup. Noelia Carolina Cuellar Enriquez</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/MONICA.jpg" class="photo">
            <div class="name">Lic. Monica Dolly Molina Molina</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/RODRIGO.jpg" class="photo">
            <div class="name">Cap. Rodrigo Adrian Cerezo Elias</div>
        </section>
        <section class="card-teacher">
            <img src="../images/teachers/milenka.png" class="photo">
            <div class="name">Lic. Milenka Lorna Mercado Morales</div>
        </section>
        <!--        <section class="card-teacher">LIC. PAOLA TERESA CALANI NOYA</section>
        <section class="card-teacher">TEC. SUP. IGOR MIRKO LOAYZA CADIMA</section>
        -->
    </div>
</div>
