<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form role="form">
				<legend>Información Personal</legend>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Cuenta de Usuario</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.username">							
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Nombres</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.firstname">
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Apellidos</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.lastname">							
						</div>
					</div>
				</div>
				<!-- end form-group -->
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Correo Electrónico</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.email">							
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Fecha de Nacimiento</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.birthday">							
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Genero</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.gender">			
						</div>
					</div>
				</div>
				<!-- end form-group -->
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Telefono</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.phone">			
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Celular</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.cellphone">							
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Carnet de Identidad</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.identity_card">			
						</div>
					</div>
				</div>
				<!-- end form-group -->
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Ocupacion</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.occupation">							
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Persona de Contacto</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.contact_person">			
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Telefono de Persona de Contacto</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.contact_person_phone">			
						</div>
					</div>
				</div>
				<!-- end form-group -->
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<label for="">Celular de Persona de Contacto</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.contact_person_cellphone">							
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							<label for="">Dirección Personal</label>
							<input type="text" class="form-control" id="" placeholder="" ng-model="user.address">			
						</div>
					</div>
				</div>
				<!-- end form-group -->
			</form>		
		</div>
	</div>
</div>