<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<legend>Recepción de Planes Bimestrales</legend>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Profesor</th>
						<th>Celular</th>
						<th>Correo Electronico</th>
						<th>Fecha de Envio</th>
						<th>Asunto</th>
						<th>Descarga</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plan in plans.data">
						<td>{{ plan.teacher }}</td>
						<td>{{ plan.cellphone }}</td>
						<td><a href="mailto: {{ plan.email }}">{{ plan.email }}</a></td>
						<td>{{ plan.send_date }}</td>
						<td>{{ plan.subject }}</td>
						<td><a href="{{ plan.url }}" target="_blank"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>	
</div>