<div ng-include="'partials/components/navbar.html'"></div>
<div class="content-fluid">
	
<div class="text-center">
	<h1>SERVICIOS</h1>
</div>
<div class="row">	
	 <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<div class="row items">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 item">
				<img src="images/servicio.jpg" alt="">	
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3><a href="" class="item-title">Descripcion</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="text-right">
					<a href="" class="btn btn-primary btn-sm">Leer mas...</a>
				</div>
			</div>
		</div>
		<!-- end row-->
				<div class="row items">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 item">
				<img src="images/servicio.jpg" alt="">	
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3><a href="" class="item-title">Descripcion</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="text-right">
					<a href="" class="btn btn-primary btn-sm">Leer mas...</a>
				</div>
			</div>
		</div>
		<!-- end row-->
				<div class="row items">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 item">
				<img src="images/servicio.jpg" alt="">	
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3><a href="" class="item-title">Descripcion</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="text-right">
					<a href="" class="btn btn-primary btn-sm">Leer mas...</a>
				</div>
			</div>
		</div>
		<!-- end row-->
				<div class="row items">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 item">
				<img src="images/servicio.jpg" alt="">	
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3><a href="" class="item-title">Descripcion</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="text-right">
					<a href="" class="btn btn-primary btn-sm">Leer mas...</a>
				</div>
			</div>
		</div>
		<!-- end row-->
	</div>
</div>
</div>