<div ng-include="'partials/components/navbar.html'"></div>
<div class="content img-cover docentes">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="heading2">TRADUCCIONES</h1>
            <h2 class="fill-heading">Traducciones del español al:</h2>
            <ul class="ulist">
                <li>Inglés</li>
                <li>Francés</li>
                <li>Alemán</li>
                <li>Portugués y Viceversa</li>
            </ul>
            <h2 class="fill-heading">De documentos:</h2>
            <ul class="ulist">
                <li>Técnicos</li>
                <li>Científicos</li>
                <li>Financieros</li>
                <li>Jurídicos</li>
                <li>Legales</li>
                <li>Académicos</li>
                <li>Literarios</li>
            </ul>
        </div>
    </div>
</div>