<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="inf-1">			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h1 class="heading">Vision</h1>
					<p class="paragraph">
						Ser reconocidos, a nivel departamental y nacional como la mejor institución líder en la enseñanza-aprendizaje de lenguas extranjeras y el quechua, con la mayor diversidad de alternativas y los programas académicos más completos que garanticen el éxito en el proceso de enseñanza-aprendizaje.
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<img src="images/webpage/reconocimiento.jpg" alt="Reconocimiento" title="Reconocimiento" class="portrait-image">					
				</div>
			</div>
		</div>
	</div>
</div>