<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-md-offset-3 col-md-6">
			<h1 class="heading2">¿QUE ES EL M.C.E.R.L.?</h1>
			<h1 class="fill-heading">
				¿Qué es el M.C.E.R.L. y cuáles son los niveles de enseñanza - aprendizaje?
			</h1>
			<ul class="ulist">
				<li>El M.C.E.R.L. aprendizaje, enseñanza y evaluación es un estándar desarrollado por el Consejo de Europa para servir como patrón internacional de control del nivel de comprensión y expresiòn orales y escritas en una lengua así como también una base común para la preparación de programas curriculares de enseñanza de lenguas extranjeras y exámenes.</li>
				<li>El M.C.E.R.L. es el resultado de más de diez años de investigación llevada a cabo por especialistas del ámbito de la linguística aplicada y de la pedagogía, procedente de todos los miembreos del Consejo de Europa. Es decir, sirve para que todos sepamos a lo que nos refereimos cuando hablamos de los niveles de dominio de una lengua. Favorece además la cooperación internacional en el campo de las lenguas modernas y el conocimiento mutuo de las titulaciones obtenidas en distintos contextos de aprendizaje.</li>
				<li>Para tal efecto el C.E.A.L.M. S.R.L. oferta cursos de Ingés, Francés, Alemán y Portugués, destinados a la <span class="bold">PREPARACIÓN DE EXÁMENES INTERNACIONALES</span></li>
			</ul>
		</div>
	</div>
</div>