<div ng-include="'partials/components/navbar.html'"></div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<h1 class="heading">
				¿Por qué tomamos el Marco Comun Europeo de Referencia para las Lenguas, M.C.E.R.L.  "Common European Framework of Reference for Languages CEFR" como referencia para nuestros cursos?
			</h1>
			<p class="paragraph">
				En el centro utilizamos los niveles del M.C.E.R. con una doble finalidad:
				<p class="paragraph">
					<span class="bold">Facilitar transferencia: </span> Para estrablecer la igualdad entre nuestros cursos y los de otra academia o entre nuestros cursos y los exámenes oficiales internacionales. 
				</p>
				<p class="paragraph">
					<span class="bold">Portabilidad: </span> Para que nuestros estudiantes sepan exactamente quéestán contratando. <span class="bold">Decir </span> "Te garantizamos que hablarás inglés" es lo mismo que <span class="bold">no decir nada</span> si no explicamos a qué nivel se les preparará. Esta sí es la única forma de no engañar a nadie.
				</p>
			</p>
		</div>
	</div>		
</div>