<div class='row'>
	<div class='header'>
		<div class='logo'></div>
		<h1> CEALM. S.R.L. - Centro de Enseñanza - Aprendizaje de Lenguas Modernas S.R.L.</h1>
	</div>
</div>
<nav class='navbar navbar-inverse' role='navigation'>
	<div class='navbar-header'><button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'><span class='sr-only'>Navegacion</span><span class='icon-bar'></span><span class='icon-bar'></span><span class='icon-bar'></span></button><a class='navbar-brand' href='administrativo'>Administrativo</a>
	</div>
	<div class='collapse navbar-collapse navbar-ex1-collapse'>
		<ul class='nav navbar-nav navbar-right'>
			<li class='active'><a href='administrativo'>Inicio</a></li>
			<li class='dropdown'>
				<a class='dropdown-toggle' data-toggle='dropdown'>Estudiantes<b class='caret'></b></a>
				<ul class='dropdown-menu'>
					<li><a href='administrativo/registro-estudiantes'>Registro</a></li>
					<li><a href='admin'>Asignación de Curso y Paralelo</a></li>
					<li><a href='admin'>Historial Académico</a></li>
					<li><a href='admin'>Seguimiento Académico</a></li>
					<li><a href='admin'>Pagos</a></li>
				</ul>
			</li>
			<li><a href='administrativo/signup'>Registro de Cuentas</a></li>
			<li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown'>Administrativo <b class='caret'></b></a>
				<ul class='dropdown-menu'>
					<li><a href='administrativo/perfil'>Perfil</a></li>
					<li><a href='administrativo/password'>Cambio de Contraseña</a></li>
					<li class='divider'><a href=''></a></li>
					<li><a href='logout'>Cerrar Sesión</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
