<div class='row'>
	<div class='header'>
	<div class='logo'></div>
	<h1> CEALM. S.R.L. - Centro de Enseñanza - Aprendizaje de Lenguas Modernas S.R.L.</h1></div>
</div>

<nav class='navbar navbar-inverse' role='navigation'>
	<div class='navbar-header'><button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'><span class='sr-only'>Navegación</span><span class='icon-bar'></span><span class='icon-bar'></span><span class='icon-bar'></span></button>
			<a class='navbar-brand' href='admin'>Administración General</a></div>
			<div class='collapse navbar-collapse navbar-ex1-collapse'>
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='admin'>Inicio</a></li>

				<li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown'>Estudiantes<b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='admin'>Asignación de Curso y Paralelo</a></li>
						<li><a href='admin'>Historial Académico</a></li>
						<li><a href='admin'>Seguimiento Académico</a></li>
						<li><a href='admin'>Pagos</a></li>
					</ul>
				</li>
				<li class='dropdown'><a class='dropdown-toggle' data-toggle='dropdown'>Profesores<b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='admin'>Búsquedas</a></li>
						<li><a href='admin'>Notas</a></li>
						<li><a href='admin/recepcion-planes'>Recepción de planes bimestrales</a></li>
					</ul>
				</li>
				<li class='dropdown'>	<a class='dropdown-toggle' data-toggle='dropdown'>Administración Académica<b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='admin/pensum'>Creación de Pensums</a></li>
						<li><a href='admin/estructura-pensum'>Creación de Estructura de Pensums</a></li>
						<li><a href='admin/registrar-aula'>Registrar Aula</a></li>
						<li><a href='admin/registrar-bimestre'>Registrar Bimestre</a></li>
						<li><a href='admin/habilitar-paralelos'>Habilitar Paralelos</a></li>
						<li><a href='admin/asignar-horarios'>Asignar Horarios</a></li>
						<li><a href='admin'>Mostrar Horarios</a></li>
						<li><a href='admin/lista-pensums'>Listar Pensums</a></li>
					</ul>
				</li>
				<li class='dropdown'>	<a class='dropdown-toggle' data-toggle='dropdown'>Cuentas<b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='admin/signup'>Registro de Cuentas</a></li>
						<li><a href='admin/asignar_roles'>Asignación de Roles</a></li>
						<li><a href='admin/usuarios'>Gestión de Usuarios</a></li>
					</ul>
				</li>
				<li class='dropdown'>	<a class='dropdown-toggle' data-toggle='dropdown'>Administrador<b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='admin/perfil'>Perfil</a></li>
						<li><a href='admin/password'>Cambio de Contraseña</a></li>
						<li><div class='divider'></div></li>
						<li>	<a href='logout'>Cerrar Sesión</a></li>
					</ul>
				</li>
		</ul>
	</div>
</nav>