<div class="modal-body">
	<form ng-submit = "save(payment)" role="form">
		<legend>Registro de Pagos</legend>
		<div class="form-group">
			<label>Monto</label>
			<input type="text" class="form-control" ng-model="payment.amount" placeholder="Monto" required autofocus>
		</div>
		<div class="form-group">
			<label>Acreedor</label>
			<input type="text" class="form-control" ng-model="payment.creditor" placeholder="Acreedor" required>
		</div>
		<div class="form-group">
			<label>Carnet de acreedor</label>
			<input type="text" class="form-control" ng-model="payment.creditor_ci" placeholder="Carnet de acreedor" required>
		</div>
		<button type="submit" class="btn btn-primary">Registrar Pago</button>
	</form>
</div>