<div class="modal-body">
	<form ng-submit="save(year)" role="form">
		<legend>{{ title }}</legend>
	
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="">Año</label>
					<select class="form-control" ng-model="year.name" required>
						<option value={{y.year}} ng-repeat="y in years">{{ y.year }}</option>
					</select>
				</div>				
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="">Inicio de Gestión</label>
			        <div class='input-group date' >
						<input type='text' class="form-control datepicker" id="start" ng-model="year.start" required/>
			            <span class="input-group-addon">
			                <span class="glyphicon glyphicon-calendar"></span>
			            </span>
			        </div>
				</div>				
			</div>
		</div>

		<div class="form-group text-right">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>	
</div>
<script>
	$(document).ready(function () {
		$('#start').datepicker({
			format:"yyyy-mm-dd"
		});
	});
</script>