<div class="modal-body">
	<form ng-submit="update(room)" role="form">
		<legend>{{ title }}</legend>
		<div class="form-group">
			<label for="">Nombre de Aula</label>
			<input type="text" class="form-control" id="" placeholder="Aula 1" ng-model="room.name" required autofocus>
		</div>

		<div class="form-group">
			<label for="">Capacidad</label>
			<input type="text" class="form-control" id="" placeholder="40" ng-model="room.capacity"required>
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-success">Actualizar</button>
		</div>
	</form>
</div>
